html,
body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: orange;
}



h1 {
    color: white;
    text-align: center;
}



.layout {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;

}

.right {
    width: 200px;
    height: 85vh;
    background-color: pink;
    flex: 1;
}

.center {
    min-height: 100px;
    flex: 5.5;
    background-color: yellow;
    height: 85vh;


}

.left {
    width: 200px;
    height: 85vh;
    background-color: pink;
    flex: 1;
}



.content1 {
    height: 50%;
    width: 100%;
    background-color: #00CACA;

}

.content1-1 {
    width: 80%;
    top: 20px;
    height: 10px;
    background-color: yellow;
    position: relative;
    left: 105px;


}

.content1-2 {

    position: relative;
    left: 45px;
    top: 8%;
    height: 80%;
    width: 91%;
    font-size: 35px;
    color: white;
    text-align: center;

}

.content1-3 {
    width: 80%;
    top: 20px;
    height: 10px;
    background-color: yellow;
    position: relative;
    left: 105px;
    top: 10%;

}

.content2 {
    height: 50%;
    width: 100%;
    background-color: #02C874;
}

.content2-1 {
    width: 80%;
    top: 10px;
    height: 10px;
    background-color: yellow;
    position: relative;
    left: 105px
}

.content2-2 {

    position: relative;
    left: 45px;
    top: 4.5%;
    height: 80%;
    width: 91%;
    font-size: 35px;
    color: white;
    text-align: center;
}

.content2-3 {
    width: 80%;
    top: 20px;
    height: 10px;
    background-color: yellow;
    position: relative;
    left: 105px;
    bottom: 10%;
}

.right-content1 {
    text-align: center;
    color: white;
    font-size: 40px;
}

.right-content1-1 {
    border: white; 
    color: white;
    text-align: center;
    text-decoration:underline;
    font-size: 30px;
    position: relative; top: 10px;

}

.right-content1-2 {
    border: white; 
    color: white;
    text-align: center;
    text-decoration:underline;
    font-size: 30px;
    position: relative; top: 20px;
}

.right-content1-3 {
    border: white; 
    color: white;
    text-align: center;
    text-decoration:underline;
    font-size: 30px;
    position: relative; top: 30px;
}

.left-content1 {
    text-align: center;
    color: white;
    font-size: 40px;
    
    
}